node_modules
dist
test

*.test.js
coverage/
__tests__/
__mocks__/

.npmrc
.babelrc
.eslintrc
.prettierrc
.editorconfig

.git
.gitignore
.babelrc
.npmrc
.vscode/
.idea/
.DS_Store

*.cjs
package-lock.json
yarn.lock
doc/
